p id="file-id-#{file.id}"
  = link_to link_to file.filename.to_s, url_for(file), target: '_blank'
  - if can? :destroy, file
    = link_to 'Delete', attachment_path(file.id), method: :delete, remote: true
